<h1>
  <div *ngIf="isLoading">Carregando...</div>
</h1>
<h1>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
</h1>
<div *ngIf="pokemon" class="card">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="pokemon.sprites.front_default" class="img-fluid rounded-start" alt="{{ pokemon.name | lowercase }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name | uppercase }}</h5>
        <p class="card-text"><strong>Altura: </strong>{{ pokemon.height }} </p>
        <p class="card-text"><strong>Peso: </strong>{{ pokemon.weight }} </p>
        <p class="card-text"><strong>Habilidades: </strong>
        <ul>
          <li *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</li>
        </ul>
        <p class="card-text"><small class="text-muted">Última atualização: 1 hora atrás</small></p>
      </div>
    </div>
  </div>
</div>
<hr>
