<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light fundo">
  <!-- Overlay -->
  <div class="overlay"></div>

  <h1 class="display-2 font-weight-bold">Pokédex</h1>
  <p class="lead font-weight-bold">
    A Pokédex registra informações sobre as diversas espécies de
    Pokémon, como características, habilidades e evoluções. Ela funciona como uma enciclopédia digital, sendo essencial
    para os treinadores no processo de captura, estudo e combate, e se preenche conforme novas espécies são descoberta.
  </p>
</div>
